[commandline]
sequence_file=./trial/1000M4/R0/true_unalign_fragged.txt
# sequence_file=./saved_ensemble/fragment_chunks/fragment_chunk_testtest.fasta
# alignment=./trial/1000M4/R0/pasta_backbone_align.txt
# tree=./trial/1000M4/R0/pasta_backbone.tre
backboneSize=500
alignmentSize=10
molecule=amino
cpu=1
tempdir=./tmp/
outdir=./output/

[upp2]
decomp_only=True
bitscore_adjust=True
hier_upp=True
early_stop=True
# ensemble_path=./saved_ensemble/
#
[python]
path=/opt/QuickScripts/env/bin/python

[magus]
path=/projects/tallis/minhyuk2/git_repos/MAGUS/magus.py

[fasttree]
path=/opt/fasttree/FastTreeMP
